@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: rgb(127,27,124);
    --primary-r: 127;
    --primary-g: 27;
    --primary-b: 124;

    --header-height: 4em;
    --footer-height: 4em;
}

html, body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}
header, footer { z-index: 1000 }
header { height: var(--header-height) !important }
footer {
    height: var(--footer-height) !important;
    bottom: 0;
    margin: 0;
}

.h-100-minus-header-minus-footer {
    min-height: calc(100vh - var(--header-height) - var(--footer-height)) !important;
    height: 100%;
    /* overflow: scroll; */
}

.bg-primary, .btn-primary {
    background: var(--primary) !important
}
.alert-primary {
    border-color: var(--primary) !important;
    background-color: rgb(255,calc(var(--primary-g)+191),255) !important
}

.feed {
    background: rgb(249,249,249) !important;
    margin: 0 !important;
    padding: 0 !important;
}
.post {
    padding: 1em;
    background: rgb(254,254,254) !important;
    border-radius: 1em;
    border: outset #77777733 3px;
    width: 80%;
    margin: 2ch 0;
}
.post-media {
    width: 100%;
    max-height: 24em;
    object-fit: cover;
}
/* .post-image {
    width: 100%;
    object-fit: contain;
} */

.message-avatar {
    max-height: 2.5rem;
    max-width: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.messages-conversation, .index-chatbox .header {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.messages-conversation.active {
    background: rgba(calc(var(--primary-r) - 64), calc(var(--primary-g) - 64), calc(var(--primary-b) - 64), 0.65);
    border-top: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5) 4px solid;
    border-bottom: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5) 4px solid;
    color: #f7f7f7;
}
.message-roughTimeStamp { font-size: 8.5pt; }
.messages-conversation .message-roughTimeStamp { color: #777 }
.messages-conversation.active .message-roughTimeStamp { color: #bbb }
.messages-conversation * { font-weight: normal !important; }
.messages-conversation.active * { font-weight: bolder !important; }
.messages-conversation h6 { margin: 0 !important; }
.messages-conversation.active h6 { margin: 0 !important; }
.conversations-chatbox-split {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.index-chatbox {
    display: flex;
    flex-direction: column;
}
.index-chatbox .header {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center; */
    background: var(--primary);
    color: #eee;
    font-size: 14pt;
}
.index-chatbox .header h6 {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14pt;
}
.index-chatbox .chat-messages {
    padding: 1rem;
}
.chat-messages .message { border-radius: 0.5rem; padding: 0.5rem; font-size: 10pt; }
.chat-messages .message.incoming { background: var(--primary); color: #eee; }
.chat-messages .message.outgoing { background: rgba(0,0,0,0.15) }